body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}
.header-class {
  width: 100%;
  height: 100vh;
  background-image: url(../Img/beachshowcase.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  line-height: 1.35;
}
h1 {
  display: block;
  text-align: center;
  font-size: 50px;
  padding: 210px 0 0 0;
  color: #926239;
  font-weight: bold;
}
.firstText {
  text-align: center;
  color: #926239;
  font-size: 20px;
  
}
.button {
  display: inline;
  color: #926239;
  position: relative;
  top: 30px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #926239;
  padding: 15px 25px;
  text-align: center;
}
.button:hover {
  background-color: #926239;
  color: white;
}
.firstArticleText {
  margin: 0;
  padding: 20px;
  display: inline-block;
  line-height: inherit;
  font-size: 17px;
  color: white;
  background-color: #926239;
  font-family: inherit;
}
.secondText {
  margin: 0;
  padding: 20px;
  display: inline-block;
  line-height: inherit;
  font-size: 17px;
  color: #926239;
  background-color: #f4f4f4;
  font-family: inherit;
}
section{
  display: inline-block;
  width: 33.1%;
  
  margin: 0;
}
section:nth-child(odd){
  background-color: #926239;
  color: white;
}
section:nth-child(even){
  color: #926239;
  background-color: white;
}
.firstBlockText{
  text-align: center;
  padding: 20px;
}
